<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>midi</string>
			</array>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.midi-audio</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>MIDI</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>PatchBankDocument</string>
		</dict>
	</array>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MIDI</string>
			<key>UTTypeIdentifier</key>
			<string>public.midi-audio</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>Midi</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>midi</string>
					<string>mid</string>
					<string>smf</string>
					<string>kar</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>audio/midi</string>
					<string>audio/x-midi</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
